div {
    width: 600px;
    margin: 100px auto;
    padding: 15px;
    background-color: #ccc;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    border-left: 5px solid rgb(255, 94, 0);
    border-right: 5px solid blueviolet;
    letter-spacing: 1.5px;
}

div::first-letter {
    content: "";
    color: rgb(255, 94, 0);
}

div::before {
    content: "";
    position: absolute;
    width: 101.5%;
    height: 5px;
    top: -5px;
    left: -5px;
    background-color: rgb(255, 94, 0);
    background-image: linear-gradient(to right ,
    rgb(255, 94, 0) 20% ,
    rgb(0, 145, 255) 20% ,
    rgb(0, 145, 255) 40% ,
    green 40% ,
    green 60% ,
    red 60% ,
    red 80% ,
    blueviolet 80% ,
    blueviolet 100%);
}

div::after {
    content: "";
    position: absolute;
    width: 101.5%;
    height: 5px;
    top: 50px ;
    left: -5px;
    background-color: blueviolet;
    background-image: linear-gradient(to right ,
    rgb(255, 94, 0) 20% ,
    rgb(0, 145, 255) 20% ,
    rgb(0, 145, 255) 40% ,
    green 40% ,
    green 60% ,
    red 60% ,
    red 80% ,
    blueviolet 80% ,
    blueviolet 100%);
}