.child {
    padding: 10px;
}

.class > {
    @extend .child;
}

.class {
    > .child {
        padding: 10px;
    }
}

.class > {
    .child {
        padding: 10px;
    }
}

.class > .child {
    padding: 10px;
}