div {
    width: 100px;
    height: 100px;
    position: relative;
}

.green {
    background-color: green;
    position: absolute;
    left: 30px;
    top: 30px;
}

.red {
    background-color: red;
    position: absolute;
    left: 40px;
    top: 40px;
}

.blue {
    background-color: blue;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;
}

.black {
    background-color: black;
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: -2;
}

