div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    /* Get The Background From Image */
    background-color: grey;
    color: black;
}

.one {
    background-color: rgba(128, 128, 128, 0.1);
}

.two {
    opacity: .1;
}