div {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 3px solid black;
    border-radius: 50%;
    float: left;
    margin: 60px;
    box-shadow: -7px -7px 0px rgba(255, 0, 64, 0.829) , 7px 7px 0px rgb(0, 157, 255) ;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    counter-increment: number;
}

div::before {
    content: "Element";
    position: absolute;
    top: 40px;
    left: 20px;
}

div::after {
    content: counter(number);
    position: absolute;
    top: -15px;
    left: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px 15px;
}