div {
    background-color: #d8d8d8;
    margin-top: 20px;
    width: 400px;
    padding: 20px;
}

.two {
    white-space: nowrap;
    overflow: hidden;
}

.three {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

