div {
    text-transform: capitalize;
    color: black;
    text-shadow: 2px 2px 0 red,4px 4px 0 rgba(0, 0, 255, 0.819), 6px 6px 0 violet;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}